body{
    background-color: #f5f5f1;
}

/*MAIN*/
main p{
    font-size: 1em;
    line-height: 30px;
    color: grey;
}

/*TEAM*/
h6{
    color: grey;
}

#output{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: calc(100% / 2);
}